/*inventory background*/
#setfooterprod{
  min-height: 78vh;
  background-color: rgba(246,246,242,0.9);
}

#titleprod{
  position:relative;
  margin-top: 10px;
  font-weight: 700;
  font-size: 40px;
  color: black;
}

#finaltexts{
  font-weight: 500;
  color:white;
}

/*return dashboard inventory button*/
#returndashinv{
  position: relative;
  padding: 15px 66px;
  border-radius: 10px;
  background-color: black;
  margin-top: 5px;
  margin-bottom: 2%;
  font-weight: 400;
  color: white;
  width: 500px;
  height: 50px;
}

#submitbutinv{
  position: relative;
  padding: 15px 66px;
  border-radius: 10px;
  background-color: black;
  margin-top: 5px;
  font-weight: 400;
  color: white;
  width: 500px;
  height: 50px;
}
/*inner button margin*/
#margin2{
  width:100%;
  height:5px;
}
#margin3{
  width:100%;
  height:25px;
}

/*edit product design*/
#actions{
  width: 500px;
  height: 110px;
  position: fixed;
  left:70%;
  bottom: 70%;
}

#actionEI{
  width:500px;
  margin-top: -25px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 32px;
  color:black;
}
#titleditprod{
  position:relative;
  margin-top: 10px;
  font-weight: 700;
  font-size: 40px;
  color: black;
  right: 20%;
}

#proddiv {
  border-radius: 10px;
  background: #73AD21;
  width: 700px;
  height: 110px;
  border: 10px solid black;
  align-content: normal;
  background-color: black;
  margin-top: 20px; 
  margin-left: auto;
  margin-right: auto;
  position: relative;
  right: 20%;
}





#div {
  background: #73AD21;
  width: 500px;
  height: 90px;
  border: 10px solid black;
  align-content: center;
  background-color: black;
  margin: auto;
}

.div2 {
  border-radius: 25px;
    margin: auto;
    width: 500px;
    height: 110px;
      border: 1px solid;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.9);
      text-align: middle;
      font-size : 100;
      justify-content:center;
}



.view{
  color: black;
}

.div3 {
  border-radius: 10px;
  background: #73AD21;
  width: 900px;
  height: 110px;
  border: 10px solid black;
  align-content: normal;
  background-color: black;
  margin-top: 20px; 
  margin-left: auto;
  margin-right: auto;
}

.div4 {
  text-align : left;
}

.div5 {
  border-radius: 10px;
  background: white;
  width: 500px;
  height: 110px;
  border: 10px solid black;
  align-content: normal;
  background-color: black;
}
