/* sets footer, and pushes it downwards*/
#setfooterAT{
  min-height: 66vh;
  background-color: rgba(56,128,135,0.9);
  
}

/*sets button size for uniformity*/
#butSize{
  width: 25%;
  height: 60px;
  margin-top: 8px;
  color:#ffffff;
  font-weight: 600;
}

#paySize{
  width: 100%;
  height: 60px;
  margin-top: 8px;
  color:#ffffff;
  font-weight: 600;
  background-color: black;
}

/*margin div*/
#margin{
  margin-top: 30px;
  background-color: rgba(56,128,135,0.9);
  width:100%;
  height: 10px;

}

/*position add transaction items*/
#positioncomp{
  position: relative;
  right: 25%;
}

.div {
  border-radius: 25px;
  background: #73AD21;
  width: 300px;
  height: 100px;
  border: 10px solid black;
  align-content: center;
  background-color: black;
  margin: auto;
}

.div2 {
  border-radius: 25px;
    margin: auto;
      width: 200px;
      height: 50px;
      border: 1px solid;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.9);
      text-align: middle;
      font-size : 100;
      justify-content:center;
}

.div3 {
    font-size: large;
    font-style: Arial;
    font-display: Times;
}
.view{
color: black;
}

#VTbackground{
  background-color: rgba(56,128,135,0.9);
  min-height: 66vh;

}

#VTtitle{
  position:relative;
  margin-top: 10px;
  font-weight: 700;
  font-size: 60px;
  color:white;
}

#returndash{
  position: relative;
  padding: 15px 66px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 2%;
  margin-bottom: 2%;
}

/*fixed pay*/
#actionsT{
  width:50%;

  position: fixed;
  left:45%;
  bottom: 12%;
  color:black;
  z-index: 3;
}


#actions{
  width: 500px;

  position: fixed;
  left:70%;
  bottom: 70%;
}