/*sets the main page background*/
#setfooterAU{
  min-height: 66vh;
  background-color: rgba(112, 159, 157,0.9);
}

/*sets main page title */
#title{
  position:relative;
  margin-top: 10px;
  font-weight: 700;
  font-size: 60px;
  text-shadow: 0px 0px 10px #000, 0px 0px 0px #000, 0px 0px 0 #000, 0px 0px 0 #000;
}

/*random line*/
#AUdivider{
  width: 30%;
  height:5px;
  position:relative;
  left: 35%;
  background-color:white;
  border-color: rgba(179, 179, 179, 0.801);
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}

/*sets label*/
#AddU{
  font-weight: 400;
  font-size: 30px;
  position: relative;
  margin-top: 5%;
}

#signup{
  width:30%;
  height: 400px;
  position:relative;
  left: 35%;  
}

#newuser{
  position: relative;
  margin-top: 5%;
}