/*sets the main page background*/
#setfooterEU{
  min-height: 66vh;
  background-color: rgba(186,223,231,0.9);
}



/*sets main page title */
#title{
  position:relative;
  margin-top: 10px;
  font-weight: 700;
  font-size: 60px;
  text-shadow: 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000;
}

/*Sections user*/
#usersSection{
  background-color:#388087;
  position: relative;
  margin-top: 10px;
  color: white;
  width:40%;
  left:30%;
}
label{
  color:black;
  font-size: 18px;
}

pre{
  font-size: 17px;
}
#size{
  font-size:20px;
}

#buttonsuser{
  position: relative;
    padding: 15px 66px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
  }

  #des{
    font-size: 30px;
    font-weight: 550;
    color: black;

  }


   /*position adduser components*/
   #positionusercomp{
    position: relative;
    right: 25%;
  }

  #actionsau{
    width:50%;
  
    position: fixed;
    left:45%;
    bottom: 50%;
    color:black;
    z-index: 3;
  }