.footer-container{
  background-color: #ff4848;
  padding: 3rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-self: center;
  color: #ffffff;
  text-align: center;
}



